/* COMMON */
:root{

    /* grid layout */
    --grid-dividend: 12;
    --grid-unit: calc(100% / var(--grid-dividend));

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINERS */
.container-xs{
    max-width: 540px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}


/* ROW */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* COLUMN (12ths) */
[class*="col-"]{
    --col-width: calc(var(--grid-unit) * var(--col-unit-n));

    flex: 0 0 auto;

    flex-basis: var(--col-width);
    max-width: var(--col-width);
}

/* What is this for? */
.col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-1{
    --col-unit-n: 1;
}
.col-2{
    --col-unit-n: 2;
}
.col-3{
    --col-unit-n: 3;
}
.col-4{
    --col-unit-n: 4;
}
.col-5{
    --col-unit-n: 5;
}
.col-6{
    --col-unit-n: 6;
}
.col-7{
    --col-unit-n: 7;
}
.col-8{
    --col-unit-n: 8;
}
.col-9{
    --col-unit-n: 9;
}
.col-10{
    --col-unit-n: 10;
}
.col-11{
    --col-unit-n: 11;
}
.col-12{
    --col-unit-n: 12;
}

/* OFFSETS */
[class*="col-off"]{
    --col-off-width: calc(var(--grid-unit) * var(--col-off-unit-n));

    margin-left: var(--col-off-width);
}
.col-off-1{
    --col-off-unit-n: 1;
}
.col-off-2{
    --col-off-unit-n: 2;
}
.col-off-3{
    --col-off-unit-n: 3;
}
.col-off-4{
    --col-off-unit-n: 4;
}
.col-off-5{
    --col-off-unit-n: 5;
}
.col-off-6{
    --col-off-unit-n: 6;
}
.col-off-7{
    --col-off-unit-n: 7;
}
.col-off-8{
    --col-off-unit-n: 8;
}
.col-off-9{
    --col-off-unit-n: 9;
}
.col-off-10{
    --col-off-unit-n: 10;
}
.col-off-11{
    --col-off-unit-n: 11;
}